<%- include ('../include/header') -%>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">nickname</th>
                <th scope="col">Day</th>
            </tr>
        </thead>
        <tbody id="boardMaster">
            <% for (var i=0; i < boards.length; i++) { %>
                <tr>
                    <th scope="row">
                        <%= i + 1 %>
                    </th>
                    <td>
                        <a href="/readBoard/?boardId=<%= boards[i]['boardId'] %>">
                            <%= boards[i]['title'] %>
                        </a>
                    </td>
                    <td>
                        <%= boards[i]['nickname'] %>
                    </td>
                    <td>
                        <%= boards[i]['day'].getFullYear() + '-' + parseInt(boards[i]['day'].getMonth() + 1) + '-' +
                            boards[i]['day'].getDate() %>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>

    <button type="button" class="btn btn-info" onclick="move_writeBoard()">글쓰기</button>

    <%- include ('../include/modal') -%>

        <script>
            // 글쓰기
            function move_writeBoard() {
                var myModal = new bootstrap.Modal(document.getElementById("noticeModal"), {});

                const url = '/auth/writeBoard';
                const init = {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'authorization': 'Bearer ' + localStorage.getItem("token"),
                    },
                    credentials: 'same-origin'
                };

                fetch(url, init)
                    .then((res) => res.json())
                    .then(res => {
                        if (res.status == 200 || res.status == 201) {
                            return location.href = '/writeBoard';
                        } else {
                            responseTxt = res;
                            const modalTitle = document.querySelector('#msgTitle');
                            var mtTxt = document.createTextNode(responseTxt['modal_title']);
                            modalTitle.appendChild(mtTxt);

                            const modalBody = document.querySelector('#msgbody');
                            var mbTxt = document.createTextNode(responseTxt['modal_body']);
                            modalBody.appendChild(mbTxt);

                            document.getElementById('exitButton').setAttribute('onclick', 'window.location.href="/login"');
                            document.getElementById('correctButton').setAttribute('onclick', 'window.location.href="/login"');
                            myModal.show();
                        }
                    })
            }

        </script>
        <%- include ('../include/footer') -%>